.main {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #E0F4FF;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 4rem;
  background-color: #87C4FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar:hover {
  height: 5rem;
}

.navbar_element {
  transition: 1s cubic-bezier(.19,.94,.24,.87);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  height:60%;
  vertical-align: middle;
  border-radius: 10px;
  cursor: pointer;
}

.navbar_element>a {
  text-decoration: none;
  color: #FFEED9;
}

.navbar_element:hover {
  font-size: large;
  background-color: #39A7FF ;
}

